<%- include("partials/header"); %>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">
            Welcome, to Wild Woof
        </h1>

        <hr class="my-4" />
        <p>This page shows all the dogs that have been shared</p>
        <a class="btn btn-info btn-lg" href="/dogs/new">Add your dog</a>
    </div>
</div>
<%- include("partials/footer"); %>
