<%- include("partials/header"); %>
<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Wild Woof</h1>
        <p class="lead">Finally, a platform to just share your dog with other people.</p>
        <a class="btn btn-info" href="/dogs">View All Dogs</a>
    </div>
</div>
<%- include("partials/footer"); %>
