<%- include("partials/header") %>
<div class="container mt-3 col-6">
    <h1 class="text-center">Sign up</h1>
    <form action="/register" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" name="username" type="text" placeholder="Username" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" name="email" type="email" placeholder="email" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" name="password" type="password" placeholder="Password" />
        </div>
        <button class="btn btn-info">Sign Up</button>
    </form>
</div>
<%- include("partials/footer") %>
