<%- include("../partials/header") %>
<div class="container">
    <h1 class="text-center display-4">Enter your dog's info</h1>
    <form action="/dogs" method="post">
        <div class="form-group">
            <label for="dog">Dog name</label>
            <input class="form-control" name="dog[name]" type="text" placeholder="Dog name" />
        </div>
        <div class="form-group">
            <label for="image">Dog image</label>
            <input class="form-control" name="dog[image]" type="text" placeholder="Dog image" />
        </div>
        <div class="form-group">
            <label for="dog">Dog age</label>
            <input class="form-control" name="dog[age]" type="number" placeholder="Dog age" />
        </div>
        <div class="form-group">
            <label for="dog">Dog breed</label>
            <input class="form-control" name="dog[breed]" type="text" placeholder="Dog breed" />
        </div>
        <div class="form-group">
            <label for="dog">Dog description</label>
            <input class="form-control" name="dog[description]" type="text" placeholder="Dog description" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<%- include("../partials/footer") %>
